---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes
  when: ansible_os_family == "Debian"

- name: Install apt-transport-https ca-certificates curl gpg
  package:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
    state: present
  become: yes
  when: ansible_os_family == "Debian"

- name: Add Kubernetes apt repository
  apt_repository:
    repo: deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.35/deb/ /
    state: present
    filename: kubernetes
    codename: kubernetes-xenial
    update_cache: yes
  become: yes
  when: ansible_os_family == "Debian"

- name: Add Kubernetes GPG key
  ansible.builtin.apt_key:
    url: https://pkgs.k8s.io/core:/stable:/v1.35/deb/Release.key
    state: present
    keyring: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
  become: yes
  when: ansible_os_family == "Debian"

- name: Install Kubernetes packages
  package:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: present
    allow_downgrade: yes
  notify:
    - Hold Kubernetes packages
    - Enable kubelet service
  become: yes
  when: ansible_os_family == "Debian"

- name: Disable swap
  command: sudo swapoff -a
  changed_when: false

- name: Comment out swap in /etc/fstab
  command: sudo sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab
  changed_when: false

- name: Add the br_netfilter and overlay modules
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop: "{{ ['br_netfilter', 'overlay'] }}"
  become: yes
  when: ansible_os_family == "Debian"

- name: Apply sysctl settings
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_set: yes
    state: present
    reload: yes
  loop:
    - { name: 'net.bridge.bridge-nf-call-iptables', value: '1' }
    - { name: 'net.bridge.bridge-nf-call-ip6tables', value: '1' }
    - { name: 'net.ipv4.ip_forward', value: '1' }
  become: yes
  when: ansible_os_family == "Debian"

- name: Copy kubelet configuration file
  copy:
    src: kubelet-config.yaml
    dest: /var/lib/kubelet/config.yaml
  notify:
    - Enable kubelet service
  become: yes
  when: ansible_os_family == "Debian"
