---
- name: Configure systemd-resolved global settings
  template:
    src: resolved.conf.j2
    dest: /etc/systemd/resolved.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart resolved

- name: Configure systemd-networkd for eno1
  template:
    src: eno1.network.j2
    dest: /etc/systemd/network/10-eno1.network
    owner: root
    group: root
    mode: '0644'
  notify: restart networkd

- name: Ensure /etc/resolv.conf is a symlink to stub-resolv.conf
  file:
    src: /run/systemd/resolve/stub-resolv.conf
    dest: /etc/resolv.conf
    state: link
    force: yes

- name: Ensure systemd-resolved and networkd are enabled
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop:
    - systemd-networkd
    - systemd-resolved
