keycloak_url            = "https://keycloak.internal.rayq.app"
keycloak_admin_user     = "admin"
keycloak_admin_password = "changeme"

users = {
  alice = {
    email    = "alice@example.com"
    password = "changeme"
    groups   = ["argocd-admins", "vault-admins", "kommande-admins", "games-admins"]
  }
}
