[Interface]
Address = {{ client.private_ip }}
PrivateKey = {{ client.private_key }}
{{ if client.wg_dns }}
DNS = {{ client.wg_dns }}
{{ endif }}

[Peer]
PublicKey = {{ wg_public_key }}
Endpoint = {{ wg_public_ip }}:{{ wg_port }}
AllowedIPs = {{ wg_server_ip }}/32
PersistentKeepalive = 25
