[Interface]
PrivateKey = {{ client.private_key }}
Address = {{ client.private_ip }}/32
{% if client.dns is defined and client.dns %}
DNS = {{ client.dns }}
{% endif %}

[Peer]
PublicKey = {{ wg_net.value.public_key }}
Endpoint = {{ wg_net.value.public_ip }}:{{ wg_net.value.port }}
AllowedIPs = {{ wg_net.value.clients_allowed_ips | default(wg_net.value.server_ip ~ '/32') }}
PersistentKeepalive = 25
