{% set addresses = wg_net.value.addresses | default([wg_net.value.server_ip ~ '/32']) %}
[Interface]
Address = {{ addresses | join(', ') }}
ListenPort = {{ wg_net.value.port }}
PrivateKey = {{ wg_net.value.private_key }}

# PostUp/PostDown rules for NAT
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wg_net.value.wan_interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wg_net.value.wan_interface }} -j MASQUERADE

{% for client in wg_net.value.clients | default([]) %}
# {{ client.name }}
[Peer]
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.private_ip }}/32
{% endfor %}
