- name: Enable kubelet service
  systemd:
    name: kubelet
    enabled: yes
    state: started
  become: yes

- name: Hold Kubernetes packages
  apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: hold
  become: yes

- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
    daemon_reload: yes

- name: Restart kubelet
  ansible.builtin.systemd:
    name: kubelet
    state: restarted
    daemon_reload: yes

- name: Reload sysctl
  ansible.builtin.command: sysctl --system