- name: Enable kubelet service
  systemd:
    name: kubelet
    enabled: yes
    state: started
  become: yes

- name: Hold Kubernetes packages
  apt:
    name:
      - kubelet
      - kubeadm
      - kubectl
    state: hold
  become: yes
