---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0" # Ensure gateway is deployed early
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app: gateway
spec:
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  destination:
    name: in-cluster
    namespace: kube-system
  source:
    repoURL: https://github.com/TheRayquaza/home-cluster.git
    targetRevision: HEAD
    path: k8s/gateway
