---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gateway
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1" # after argocd and cilium
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app: gateway
spec:
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  destination:
    name: in-cluster
    namespace: kube-system
  source:
    repoURL: https://github.com/TheRayquaza/k8s-sandbox.git
    targetRevision: HEAD
    path: k8s/gateway
